latihan mandiri 1

In [13]:
def sama(tA):
    if tA.count(tA[0]) == len(tA):
        print(True)
    else:
        print(False)

# test case    
sama((90, 90, 90, 90))
sama((90, 91, 90, 90))
sama((1,1,1,1,1))
sama((90, 91, 91, 91))

True
False
True
False

latihan mandiri 2

In [2]:
Data = ('Matahari Bhakti Nendya', '22064091', 'Bantul, DI Yogyakarta')

for i in Data:
    if "," in i:
        alamat = i
    elif i.isdigit():
        nim = i
    else:
        nama = i        
        
print(f"NIM\t: {nim}\nNAMA\t: {nama}\nALAMAT\t: {alamat}\n")

nim = tuple(nim)
nama_split = nama.split()
nama_depan = tuple(nama_split[0][1:])
print(f"NIM: {nim}\nNAMA DEPAN: {nama_depan}\nNAMA TERBALIK: {tuple(nama_split[::-1])}\n")

NIM	: 22064091
NAMA	: Matahari Bhakti Nendya
ALAMAT	: Bantul, DI Yogyakarta

NIM: ('2', '2', '0', '6', '4', '0', '9', '1')
NAMA DEPAN: ('a', 't', 'a', 'h', 'a', 'r', 'i')
NAMA TERBALIK: ('Nendya', 'Bhakti', 'Matahari')

latihan mandiri 3

In [1]:
file = open(str(input("Enter a file name: ")))

hour_log = []
unique_hour = []
for i in file:
    if i.startswith("From "):
        for j in i.split():
            if ":" in j:
                hour_log.append(j[:2])
                if j[:2] not in unique_hour:
                    unique_hour.append(j[:2])
for i in sorted(unique_hour):
    print(i,hour_log.count(i))

04 3
06 1
07 1
09 2
10 3
11 6
14 1
15 2
16 4
17 2
18 1
19 1